<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @comment.username %>
</p>

<p>
  <strong>Descripton:</strong>
  <%= @comment.descripton %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
